# fly.toml app configuration file generated for barbara-elevenlabs-webhook on 2025-11-06T11:04:38-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'barbara-elevenlabs-webhook'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'
  build-target = ''
  [build.args]

[env]
  NODE_ENV = 'production'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
